/* header */

header .navbar .logo-img{
    height: 8rem;
    padding: 1rem 0;
}
/* main */
main .products-text{
    margin-top: 2rem;
}

main .cart-button{
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 30px;
    right: 30px;
    background: lightgrey;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

main .cart-button .material-symbols-outlined{
    color: black;
}
main .cart-button .material-symbols-outlined:hover{
    color: darkslategrey;
}
main .offcanvas-header-right{
    flex-direction: column;
}
main .products-container{
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
main .products-container .card{
    margin: 1rem;
    border-color: white;
}
main .products-container .card:hover{
    border-color: gray;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
main .products-container .card-img-top{
    height: 50%;
}
main .products-container .card .card-body{
    margin-top: 50% !important;
}

main .innerCart{
    overflow-y: scroll;
}

/* footer */
footer .about-us-items {
    display: flex;
    list-style: none;
    justify-content:flex-start;
    align-items: center;
}
footer .icon a{
    font-size: 50px;
    margin: 1rem;
    color: black;
}
footer .about-us-text {
    margin-top: 2rem;    
}

footer .quick-links-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer .quick-links-items a{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
footer .quick-links-text {
    margin-top: 2rem;
}

footer .contact-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer .contact-text {
    margin-top: 2rem;    
}
footer .contact-items a{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 991.98px) {
   
    header .navbar{
        background: white;
        padding: 0;
    }


}
